/*
Accent block background: #240090
Bright accent block background: #3500d3
Medium dark accent block background: #190061
Dark accent block background: #0c0032

Other potential colors
#5f2fed
#4310de
#3713a1
#2a03a8
#470aff
*/

.page-content {
	font-family: 'Exo 2', 'Oxanium', sans-serif;
}

/* Theme color palette stuff */
.accent {
	background-color: #240090;
	color:#fff;
}
.bright-accent {
	background-color: #3500d3;
	color:#fff;
}
.mid-dark-accent {
	background-color: #190061;
	color:#fff;
}
.dark-accent {
	background-color: #0c0032;
	color: #fff;
}

/* Other styling */
h1,
h2,
h3 {
	font-family: 'Oxanium', sans-serif;
}

.page-head h1 {
	font-family: 'Elianto', 'Oxanium', sans-serif;
	font-size: 400%;
	font-weight:normal;
	margin-bottom:1em;
}

.page-head,
.page-foot h1,
.page-foot h2,
.page-foot h3,
.page-foot h4,
.page-foot h5,
.page-foot h6 {
	text-align:center;
}

.page-content *,
.page-foot p {
	margin:1em 2rem;
	text-align:justify;
}

.page-foot p {
	font-size:90%;
}
