/*
Accent block background: #240090
Bright accent block background: #3500d3
Medium dark accent block background: #190061
Dark accent block background: #0c0032
Other potential colors
#5f2fed
#4310de
#3713a1
#2a03a8
#470aff
*/

.page-content *,
.page-foot * {
    font-family: 'Exo 2', 'Oxanium', sans-serif;
}

.page-content {
    margin: 0 1rem;
    padding: 0.5rem 0;
}

.page-foot {
    margin: 1rem;
    padding: 0.125rem 0;
    background-color: #470aff;
}

.page-foot * {
    color: #fcfcfc;
}

/* Theme color palette stuff */
.accent,
.accent *:not(a) {
    background-color: #240090;
    color: #fcfcfc;
}

.bright-accent,
.bright-accent *:not(a) {
    background-color: #3500d3;
    color: #fcfcfc;
}
.bright-accent a {
    color: #240090;
    text-decoration: none;
    font-weight: bold;
}
.bright-accent a:visited {
    color: #0c0032;
    text-decoration: none;
    font-weight: bold;
}

.mid-dark-accent,
.mid-dark-accent *:not(a) {
    background-color: #190061;
    color: #fcfcfc;
}

.dark-accent,
.dark-accent *:not(a) {
    background-color: #0c0032;
    color: #fcfcfc;
}

/* Other styling */
section a {
    color: #8e69ff;
    transition: color 0.25s;
}

section a:visited {
    color: #6c3bff;
}

section a:hover,
section a:visited:hover {
    color: #fcfcfc;
}

body {
    margin: 0;
    background-color: #fcfcfc;
    padding-bottom: 2rem;
}

h1,
h2,
h3 {
    font-family: 'Oxanium', sans-serif;
}

.page-head h1 {
    font-family: 'Elianto', 'Oxanium', sans-serif;
    font-size: 400%;
    font-weight: normal;
    margin-bottom: 1em;
}

.page-content *:first-child,
.page-foot p:first-of-type  {
    margin-top: 0.25rem;
}

.page-content *:last-child,
.page-foot p:last-of-type {
    margin-bottom: 0.25rem;
}

.page-head h1 div {
    display: inline;
    padding: 0.25rem 2rem;
    border-bottom: solid 1rem #190061;
}

.page-head,
.page-foot h1,
.page-foot h2,
.page-foot h3,
.page-foot h4,
.page-foot h5,
.page-foot h6 {
    text-align: center;
}

.page-content *,
.page-foot p {
    margin: 1em 1rem;
    text-align: justify;
}

.page-foot p {
    font-size: 90%;
}

#navbar {
    background-color: #0c0032;
    overflow: hidden;
}

#navbar {
    position: sticky;
    top: 0;
}

#navbar a {
    float: left;
    color: #fcfcfc;
    text-align: center;
    padding: 0.9rem 1rem;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    transition:
        background 0.25s,
        color 0.25s,
        padding 0.25s;
}
#navbar a:hover {
    background-color: #3500d3;
    padding: 1rem 1.25rem;
}
#navbar a:active {
    background-color: #470aff;
    color: #000;
}
