@font-face {
    font-family: 'dovahzul';
    src: url('Dovahzul.woff') format('woff'),
         url('Dovahzul.ttf') format('truetype'),
         url('Dovahzul.svg#dovahzulregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
